@charset "UTF-8";
html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  font-family: 微软雅黑;
}

.box {
  width: 100%;
}

.box h5 {
  width: 92%;
  margin: 0 auto;
  font-size: 1.2rem;
  text-align: center;
  line-height: 1.6rem;
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.box .from {
  width: 92%;
  height: 2rem;
  margin: 0 auto;
  font-size: 0.6rem;
}

.box .from span {
  color: #4A4A4A;
}

.box .from span:last-child {
  margin-left: 1rem;
}

.box .intor {
  width: 92%;
  margin: 0 auto;
  color: #5a5a5a;
  font-size: 0.8rem;
  line-height: 1.2rem;
  margin-bottom: 1rem;
}

.box .content {
  width: 92%;
  margin: 0 auto;
  background: white;
}

.box .content span {
  font-size: 16px;
}

.box .content p {
  line-height: 28px !important;
}

.box .content img {
  font-size: 16px;
  height: auto !important;
  max-width: 100%;
}

.recommended {
  width: 100%;
  overflow: hidden;
  margin-bottom: 1rem;
}

.recommended h4 {
  overflow: hidden;
  font-size: 1rem;
  position: relative;
  height: 2rem;
  background: #EFF1F5;
  line-height: 2rem;
  color: #4A4A4A;
  text-indent: 1rem;
}

.recommended h4 div {
  position: absolute;
  width: 0.2rem;
  height: 2rem;
  background: red;
  left: 0;
  top: 0;
}

.recommended ul {
  width: 92%;
  margin: 0 auto;
}

.recommended ul a {
  height: 2.5rem;
  line-height: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  display: block;
  color: #2360FF;
  font-size: 1rem;
  border-bottom: 1px solid #cccccc;
  text-decoration: none;
}
