@charset "UTF-8";
html {
  font-size: 16px;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  font-family: 微软雅黑;
}

.box nav {
  width: 100%;
  background: #EFF1F5 100%;
  height: 2.4rem;
  margin-top: 1rem;
  overflow: hidden;
}

.box nav h5 {
  width: 92%;
  font-size: 1.2rem;
  margin: 0 auto;
  overflow: hidden;
}

.box nav h5 .img1 {
  width: 1.2rem;
  float: left;
  margin-top: 0.5rem;
}

.box nav h5 img {
  width: 1.5rem;
  float: left;
  margin-top: 0.5rem;
}

.box nav h5 span {
  float: left;
  margin-top: 0.4rem;
  color: #d40000;
  margin-left: 0.5rem;
}

.ul1 {
  width: 100%;
  overflow: hidden;
  margin-bottom: 20px;
}

.ul1 li {
  width: 92%;
  margin: 0 auto;
  border-bottom: 0.01rem solid #cccccc;
  overflow: hidden;
}

.ul1 li a {
  display: block;
  font-size: 1rem;
  height: 2.5rem;
  line-height: 2.5rem;
  text-decoration: none;
  color: black;
  font-weight: 700;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.ul1 li p {
  height: 3.3rem;
  line-height: 1.15rem;
  color: #4a4a4a;
  font-size: 0.8rem;
  margin-bottom: 0.6rem;
  overflow: hidden;
}

.page_div {
  margin-top: 20px;
  font-size: 15px;
  font-family: "microsoft yahei";
  color: #666666;
  margin-right: 10px;
  padding-left: 20px;
  box-sizing: border-box;
  margin: 0 auto;
}

/*
 * 页数按钮样式
 */
.pagenumber {
  width: 3rem;
  margin: 0 auto;
  margin-bottom: 20px;
}

.pagenumber p {
  font-size: 0.8rem;
}

.page_div a {
  min-width: 30px;
  height: 28px;
  text-align: center;
  margin: 0 4px;
  cursor: pointer;
  line-height: 28px;
  color: #666666;
  font-size: 13px;
  display: inline-block;
}

#firstPage,
#lastPage {
  width: 50px;
  color: #666666;
  border: 1px solid #0073A9 !important;
}

#prePage,
#nextPage {
  color: #666666;
}

.page_div .current {
  color: red;
}

.totalPages {
  margin: 0 10px;
}

.totalPages span,
.totalSize span {
  color: #0073A9;
  margin: 0 5px;
}

.box_c {
  width: 100%;
  height: auto;
  font-family: 微软雅黑;
  font-size: 0.3rem;
}

header {
  width: 100%;
}

header img {
  width: 100%;
}

.title {
  margin: 0 auto;
  width: 95%;
  height: auto;
  border-bottom: 1px solid #cccccc;
  font-size: 0.23rem;
  color: black;
  font-family: SourceHanSansSC-Medium;
  padding-bottom: 0.1rem;
}

.content {
  margin: 0 auto;
  width: 95%;
  height: 0.65rem;
  border-bottom: 1px solid #cccccc;
  font-size: 0.26rem;
  color: #0052a4;
}

.content img {
  width: 0.6rem;
  vertical-align: middle;
  margin-left: 1rem;
}

.content a {
  margin-top: 0.2rem;
  display: inline-block;
}

.back {
  margin: 0 auto;
  width: 95%;
}

.back h5 {
  font-size: 0.26rem;
  margin-top: 0.17rem;
  overflow: hidden;
}

.back h5 img {
  width: 0.32rem;
  vertical-align: middle;
  float: left;
}

.back h5 p {
  float: left;
  margin-left: 0.1rem;
}

.back a {
  text-decoration: none;
  display: block;
  margin-top: 0.17rem;
  font-size: 0.26rem;
  font-weight: 600;
  color: #0052a4;
  border-bottom: 1px solid #cccccc;
  padding-bottom: 0.06rem;
}
